<p-panelmenu [model]="[
      {
        label: 'Products',
        icon: 'pi pi-home',
        routerLink: '/admin/products',
      },
      {
        label: 'Customers',
        icon: 'pi pi-info-circle',
        routerLink: '/admin/customers',
      },
      {
        label: 'Orders',
        icon: 'pi pi-info-circle',
        routerLink: '/admin/orders',
      },
      {
        label: 'Dashboard',
        icon: 'pi pi-info-circle',
        routerLink: '/admin',
      },
    ]" [style]="{ 'width': '250px', 'border': 'none' }" [multiple]="false" />