<div class="container">
  <form class="login-form" [formGroup]="editForm"> 
    <h2 class="form-title">Login your account</h2>
    <button class = "close-button" (click)="closeDialog()">X</button>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName = "password" required>
    </mat-form-field>
  </form>
   <button mat-flat-button color="primary" class="form-button" (click)="onSubmit()">Login</button>
  </div>
