<div *ngIf="products && products.length > 0;" class="container my-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card h-100 shadow border-0 d-flex flex-column product-card">
        <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="{{product.name}}">
        <div class="card-body flex-grow-1">
          <h5 class="card-title text-dark">{{product.name}}</h5>
          <h6 class="card-subtitle mb-2" style="color: #0d6efd;">{{product.price }}</h6>
          <p class="card-text text-secondary">{{product.description}}</p>
        </div>
        <div class="card-footer d-flex justify-content-between bg-transparent border-0">
          <button class="btn btn-outline-danger btn-sm w-45">Add to favories</button>
          <button class="btn btn-primary btn-sm w-45">Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>
